$TileSize: 24px;

.Game {
  box-sizing: content-box;
  display: flex;
  flex-flow: row wrap;
  position: relative;
  width: $TileSize * 14 +4;
  height: $TileSize * 14 +4;
  margin-left: 20%;
  margin-top: 5%;
  background-color: #dddadae8;
  border: 2px solid rgb(105, 105, 105);
  border-radius: 5px;
  font-family: "Orbitron", sans-serif;
  .GameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 8px;
    height: $TileSize * 4;
    width: $TileSize * 4;
    button {
      padding: 7%;
    }
  }

  .TopHints {
    display: flex;
    flex-flow: row wrap;
    width: $TileSize * 10;
    height: $TileSize * 4;
    margin: 0 auto;
    & > div {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      height: $TileSize * 4;
      width: $TileSize;
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $TileSize;
        width: $TileSize;
      }
    }
  }
  .LeftHints {
    display: flex;
    flex-flow: column;
    width: $TileSize * 4;
    height: $TileSize * 10;
    margin: auto 0;
    & > div {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      height: $TileSize;
      width: $TileSize * 4;
      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $TileSize;
        width: $TileSize;
      }
    }
  }
  img {
    width: $TileSize * 10;
    height: $TileSize * 10;
    border: 2px solid grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
  }
  .TileField {
    width: $TileSize * 10 +4;
    height: $TileSize * 10+4;
    background-color: grey;
    display: flex;
    flex-flow: row wrap;
    border: 2px solid grey;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    .Tile {
      width: $TileSize;
      height: $TileSize;
      background-color: aliceblue;
      position: relative;
      border: 2px solid grey;
      padding: 0px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
    }
  }
}
