@import "./variable.scss";
#MainPage {
  padding-top: 70px;
}
nav.Nav {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: $secondaryColor;
  a {
    height: 100%;
    display: flex;
    align-items: center;
    .logo {
      height: 85%;
      margin-left: 7px;
      border-radius: 200px 200px 200px 200px;
    }
    h1 {
      font-family: "Work Sans";
      font-weight: bold;
      letter-spacing: 0.1em;
      font-size: 1.5em;
      justify-self: flex-start;
      margin-left: 10px;
      color: white;
    }
    .reactLogo {
      height: 17px;
      margin-left: 3px;
    }
  }
  .rightSide,
  .rightSideMobile {
    align-items: center;
    margin-left: auto;
    margin-right: 22px;
    display: flex;
    flex-flow: row nowrap;
    p {
      color: azure;
    }
    button,
    a {
      cursor: pointer;
      margin-left: 15px;
      text-align: center;
      text-decoration: none;
      border: solid white 1px;
      border-radius: 3px;
      padding: 0.5em 1em;
      color: white;
      background-color: $tertiaryColor;
    }
  }
  .rightSideMobile {
    display: none;
    /* Position and sizing of burger button */
    .bm-burger-button {
      position: fixed;
      width: 36px;
      height: 30px;
      right: 25px;
      top: 20px;
    }

    /* Color/shape of burger icon bars */
    .bm-burger-bars {
      background: $tertiaryColor;
    }

    /* Color/shape of burger icon bars on hover*/
    .bm-burger-bars-hover {
      background: #00d8ff;
    }

    /* Position and sizing of clickable cross button */
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }

    /* Color/shape of close button cross */
    .bm-cross {
      display: none;
      background: #bdc3c7;
    }

    /*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
    .bm-menu-wrap {
      position: fixed;
      width: 250px;
      height: 100%;
      top: 70px;
    }

    /* General sidebar styles */
    .bm-menu {
      background: $secondaryColor;
      padding: 1em 1.5em 0;
      font-size: 1em;
    }

    /* Morph shape necessary with bubble or elastic */
    .bm-morph-shape {
      fill: #373a47;
    }

    /* Wrapper for item list */
    .bm-item-list {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    /* Individual item */
    .bm-item {
      height: 35px;
      width: fit-content;
      margin-bottom: 10px;
      margin-left: 0;
      align-self: center;
    }
    .bm-item:first-child {
      margin-top: 10px;
    }

    /* Styling of overlay */
    .bm-overlay {
      position: fixed;
      top: 70px;
      right: 0;
      background: rgba(0, 0, 0, 0.3);
    }
  }
}

@media screen and (max-width: 680px) {
  nav.Nav {
    height: 70px;
    .rightSide {
      display: none;
    }
    .rightSideMobile {
      display: block;
    }
  }
}
