.Preview {
  height: 188px;
  width: 188px;
  display: flex;
  flex-flow: row wrap;
  border: 1% solid rgb(105, 105, 105);
  border-radius: 5px;
  div {
    width: 10%;
    height: 10%c;
  }
  .full {
    background: #cf95fc;
  }
  .empty {
    background: white;
  }
}
