.Tile {
  background-color: aliceblue;
  position: relative;
  border: 2px solid grey;
  padding: 0px;
  border-spacing: 0px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
