.SelectScreen {
  box-sizing: content-box;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  .Card {
    width: 21%;
    max-width: 200px;
    margin-top: 3%;
    padding: 5px;
    border: 1px solid #cf95fc;
    border-radius: 3px;
    background: #8452ae;
    h3 {
      margin-left: 2px;
      margin-bottom: 3px;
      color: white;
    }
    .puzzlePreview img {
      width: 100%;
      border: 2px solid rgb(105, 105, 105);
      border-radius: 5px;
    }
    p {
      margin-left: 2px;
      margin-top: 3px;
      color: white;
    }
  }
}
