.TopHints {
  display: flex;
  flex-flow: row wrap;
  & > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    & > div {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
