@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Work+Sans&display=swap");
@font-face {
  font-family: "Work Sans";
  src: url("/WorkSans-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Work Sans";
  src: url("/WorkSans-Medium.ttf");
  font-weight: bold;
}
html {
  background: #602b7e;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Work Sans";
  font-weight: normal;
  font-size: 1em;
}
